.elementor-6 .elementor-element.elementor-element-8fc4ee2>.elementor-background-overlay {
    background-color: var( --e-global-color-astglobalcolor0);
    opacity: .75;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-8fc4ee2 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 250px 0 150px
}

.elementor-6 .elementor-element.elementor-element-0563001>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 50px
}

.elementor-6 .elementor-element.elementor-element-0563001>.elementor-element-populated {
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-844a87a {
    padding: 150px 0
}

.elementor-6 .elementor-element.elementor-element-e5d8804>.elementor-element-populated {
    padding: 0 50px 0 0
}

.elementor-6 .elementor-element.elementor-element-7a86386>.elementor-element-populated {
    padding: 0 0 0 50px
}

.elementor-6 .elementor-element.elementor-element-ac7e12c>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-6 .elementor-element.elementor-element-c39b866 {
    padding: 0 0 150px
}

.elementor-6 .elementor-element.elementor-element-19aa2e8>.elementor-element-populated {
    padding: 0 50px 0 0
}

.elementor-6 .elementor-element.elementor-element-88a213a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 70px
}

.elementor-6 .elementor-element.elementor-element-88a213a>.elementor-element-populated {
    padding: 0 50px
}

.elementor-6 .elementor-element.elementor-element-93c458b .uael-infobox,
.elementor-6 .elementor-element.elementor-element-93c458b .uael-separator-parent {
    text-align: left
}

.elementor-6 .elementor-element.elementor-element-93c458b .uael-infobox-title {
    margin: 0 0 10px
}

.elementor-6 .elementor-element.elementor-element-93c458b .uael-infobox-text {
    margin: 0
}

.elementor-6 .elementor-element.elementor-element-16281cf .uael-infobox,
.elementor-6 .elementor-element.elementor-element-16281cf .uael-separator-parent {
    text-align: left
}

.elementor-6 .elementor-element.elementor-element-16281cf .uael-infobox-title {
    margin: 0 0 10px
}

.elementor-6 .elementor-element.elementor-element-16281cf .uael-infobox-text {
    margin: 0
}

.elementor-6 .elementor-element.elementor-element-eef7154 .uael-infobox,
.elementor-6 .elementor-element.elementor-element-eef7154 .uael-separator-parent {
    text-align: left
}

.elementor-6 .elementor-element.elementor-element-eef7154 .uael-infobox-title {
    margin: 0 0 10px
}

.elementor-6 .elementor-element.elementor-element-eef7154 .uael-infobox-text {
    margin: 0
}

.elementor-6 .elementor-element.elementor-element-44b5246 {
    padding: 0 0 150px
}

.elementor-6 .elementor-element.elementor-element-ac638cf>.elementor-element-populated {
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-4c7ff21>.elementor-element-populated {
    margin: 0 0 80px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-c402d39 {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-f048e66>.elementor-widget-container {
    padding: 0 30px 0 0
}

.elementor-6 .elementor-element.elementor-element-0dd423d>.elementor-widget-container {
    padding: 0 30px 0 0
}

.elementor-6 .elementor-element.elementor-element-9f02d87>.elementor-widget-container {
    padding: 0 30px 0 0
}

.elementor-6 .elementor-element.elementor-element-d7aaa39 {
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-820a420>.elementor-element-populated {
    margin: 0 0 0 350px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 350px;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-918b61c .elementor-wrapper {
    --video-aspect-ratio: 2.33333
}

.elementor-6 .elementor-element.elementor-element-f60664c {
    padding: 150px 0 0
}

.elementor-6 .elementor-element.elementor-element-4bd56b1>.elementor-element-populated {
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-f2e27c4>.elementor-element-populated {
    margin: 0 0 80px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-99663bd {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-3272a30>.elementor-element-populated {
    padding: 0 33px 0 0
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-3b65ab5 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-3b65ab5 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-3b65ab5 .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-316052c>.elementor-element-populated {
    padding: 0 16.5px
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-fa9657f .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-d684c3e .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-d684c3e .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-d684c3e .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-9ba48ad>.elementor-element-populated {
    padding: 0 0 0 33px
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-a35b4f6 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-a35b4f6 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-a35b4f6 .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-c1db30b {
    margin-top: 50px;
    margin-bottom: 0
}

.elementor-6 .elementor-element.elementor-element-8d83ec7>.elementor-element-populated {
    padding: 0 33px 0 0
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-3b133ee .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-8963327 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-8963327 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-8963327 .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-f2d62e8>.elementor-element-populated {
    padding: 0 16.5px
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-fd49cca .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-fd49cca .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-fd49cca .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-c8b388d>.elementor-element-populated {
    padding: 0 0 0 33px
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon i,
.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon svg {
    font-size: 70px;
    line-height: 70px;
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon {
    width: 70px;
    height: 70px
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon>img {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon.uael-video__vimeo-play {
    width: auto;
    height: auto
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-vimeo-icon-bg {
    width: 70px
}

.elementor-6 .elementor-element.elementor-element-468ee0e .uael-video-wistia-play {
    height: 70px;
    width: calc( 70px * 1.45)
}

.elementor-6 .elementor-element.elementor-element-26e7755 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-6 .elementor-element.elementor-element-26e7755 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-6 .elementor-element.elementor-element-26e7755 .elementor-button {
    font-size: 15px;
    font-weight: 500;
    fill: var( --e-global-color-astglobalcolor3);
    color: var( --e-global-color-astglobalcolor3);
    background-color: #02010100;
    border-style: none;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-c3c737d {
    margin-top: 80px;
    margin-bottom: 0
}

.elementor-6 .elementor-element.elementor-element-8bb741b>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0
}

@media(max-width:1024px) {
    .elementor-6 .elementor-element.elementor-element-8fc4ee2 {
        padding: 150px 40px 100px
    }
    .elementor-6 .elementor-element.elementor-element-0563001>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 40px
    }
    .elementor-6 .elementor-element.elementor-element-844a87a {
        padding: 100px 40px
    }
    .elementor-6 .elementor-element.elementor-element-e5d8804>.elementor-element-populated {
        padding: 0 20px 0 0
    }
    .elementor-6 .elementor-element.elementor-element-c9357eb {
        text-align: left
    }
    .elementor-6 .elementor-element.elementor-element-c9357eb>.elementor-widget-container {
        padding: 0%
    }
    .elementor-6 .elementor-element.elementor-element-7a86386>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0 0 0 20px
    }
    .elementor-6 .elementor-element.elementor-element-e8c6c55 {
        text-align: left
    }
    .elementor-6 .elementor-element.elementor-element-ac7e12c>.elementor-widget-container {
        margin: 20px 0 0
    }
    .elementor-6 .elementor-element.elementor-element-c39b866 {
        padding: 0 40px 100px
    }
    .elementor-6 .elementor-element.elementor-element-19aa2e8>.elementor-element-populated {
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-55bf20c {
        text-align: left
    }
    .elementor-6 .elementor-element.elementor-element-88a213a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 40px
    }
    .elementor-6 .elementor-element.elementor-element-88a213a>.elementor-element-populated {
        margin: 40px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-44b5246 {
        padding: 0 40px 100px
    }
    .elementor-6 .elementor-element.elementor-element-4c7ff21>.elementor-element-populated {
        margin: 0 0 60px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-6 .elementor-element.elementor-element-0e5156e>.elementor-element-populated {
        padding: 0 20px 50px 0
    }
    .elementor-6 .elementor-element.elementor-element-9f0d795>.elementor-element-populated {
        padding: 0 0 50px 20px
    }
    .elementor-6 .elementor-element.elementor-element-ce70893>.elementor-element-populated {
        padding: 0 20px 0 0
    }
    .elementor-6 .elementor-element.elementor-element-820a420>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-6 .elementor-element.elementor-element-f60664c {
        padding: 100px 40px 0
    }
    .elementor-6 .elementor-element.elementor-element-f2e27c4>.elementor-element-populated {
        margin: 0 0 60px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-6 .elementor-element.elementor-element-3272a30>.elementor-element-populated {
        padding: 0 20px 0 0
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-f5c1d42 .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-316052c>.elementor-element-populated {
        padding: 0 10px
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-fa9657f .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-9ba48ad>.elementor-element-populated {
        padding: 0 0 0 20px
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-aea0d57 .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-8d83ec7>.elementor-element-populated {
        padding: 0 20px 0 0
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-3b133ee .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-f2d62e8>.elementor-element-populated {
        padding: 0 10px
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-5c3c224 .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-c8b388d>.elementor-element-populated {
        padding: 0 0 0 20px
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon i,
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon svg {
        font-size: 50px;
        line-height: 50px;
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon {
        width: 50px;
        height: 50px
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon>img {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video__play-icon.uael-video__vimeo-play {
        width: auto;
        height: auto
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-vimeo-icon-bg {
        width: 50px
    }
    .elementor-6 .elementor-element.elementor-element-468ee0e .uael-video-wistia-play {
        height: 50px;
        width: calc( 50px * 1.45)
    }
    .elementor-6 .elementor-element.elementor-element-c3c737d {
        margin-top: 60px;
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    .elementor-6 .elementor-element.elementor-element-8fc4ee2 {
        padding: 130px 20px 100px
    }
    .elementor-6 .elementor-element.elementor-element-0563001>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 40px
    }
    .elementor-6 .elementor-element.elementor-element-9d69a17 {
        text-align: left
    }
    .elementor-6 .elementor-element.elementor-element-844a87a {
        padding: 100px 20px
    }
    .elementor-6 .elementor-element.elementor-element-e5d8804>.elementor-element-populated {
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-7a86386>.elementor-element-populated {
        margin: 40px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-c39b866 {
        padding: 0 20px 100px
    }
    .elementor-6 .elementor-element.elementor-element-44b5246 {
        padding: 0 20px 100px
    }
    .elementor-6 .elementor-element.elementor-element-0e5156e>.elementor-element-populated {
        padding: 0 0 40px
    }
    .elementor-6 .elementor-element.elementor-element-9f0d795>.elementor-element-populated {
        padding: 0 0 40px
    }
    .elementor-6 .elementor-element.elementor-element-ce70893>.elementor-element-populated {
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-f60664c {
        padding: 100px 20px 0
    }
    .elementor-6 .elementor-element.elementor-element-3272a30>.elementor-element-populated {
        margin: 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-316052c>.elementor-element-populated {
        margin: 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-9ba48ad>.elementor-element-populated {
        margin: 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-c1db30b {
        margin-top: 0;
        margin-bottom: 0
    }
    .elementor-6 .elementor-element.elementor-element-8d83ec7>.elementor-element-populated {
        margin: 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-f2d62e8>.elementor-element-populated {
        margin: 0 0 40px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-c8b388d>.elementor-element-populated {
        padding: 0
    }
    .elementor-6 .elementor-element.elementor-element-c3c737d {
        margin-top: 40px;
        margin-bottom: 0
    }
}

@media(min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-e5d8804 {
        width: 50%
    }
    .elementor-6 .elementor-element.elementor-element-7a86386 {
        width: 50%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-e5d8804 {
        width: 50%
    }
    .elementor-6 .elementor-element.elementor-element-7a86386 {
        width: 50%
    }
    .elementor-6 .elementor-element.elementor-element-19aa2e8 {
        width: 100%
    }
    .elementor-6 .elementor-element.elementor-element-88a213a {
        width: 100%
    }
    .elementor-6 .elementor-element.elementor-element-0e5156e {
        width: 50%
    }
    .elementor-6 .elementor-element.elementor-element-9f0d795 {
        width: 50%
    }
    .elementor-6 .elementor-element.elementor-element-ce70893 {
        width: 50%
    }
}