.elementor-84 .elementor-element.elementor-element-096b73b {
    padding: 150px 0
}

.elementor-84 .elementor-element.elementor-element-90dd8ac>.elementor-element-populated {
    padding: 0
}

.elementor-84 .elementor-element.elementor-element-5b085d3>.elementor-element-populated {
    padding: 0
}

.elementor-84 .elementor-element.elementor-element-ea7c6af {
    margin-top: 50px;
    margin-bottom: 0
}

.elementor-84 .elementor-element.elementor-element-3ecc9c8>.elementor-element-populated {
    padding: 0 50px 0 0
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2)
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2)
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2)
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2)
}

body.rtl .elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2)
}

body:not(.rtl) .elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2)
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-icon i {
    color: var( --e-global-color-astglobalcolor1);
    transition: color .3s
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-icon svg {
    fill: var( --e-global-color-astglobalcolor1);
    transition: fill .3s
}

.elementor-84 .elementor-element.elementor-element-d75641d {
    --e-icon-list-icon-size: 15px;
    --icon-vertical-offset: 0px
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-icon {
    padding-right: 10px
}

.elementor-84 .elementor-element.elementor-element-d75641d .elementor-icon-list-text {
    color: var( --e-global-color-astglobalcolor1);
    transition: color .3s
}

.elementor-84 .elementor-element.elementor-element-d75641d>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-84 .elementor-element.elementor-element-ebe9e1c>.elementor-element-populated {
    padding: 0 0 0 50px
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label {
    padding: 15px
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=radio]+label:before {
    height: 15px;
    width: 15px
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]:checked+label:before {
    font-size: calc( 15px/1.2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-container select option {
    background-color: #fafafa00
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style input[type=radio]+label:before {
    background-color: #fafafa00
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style input[type=radio]:checked+label:before {
    background-color: #7a7a7a
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=radio]:checked+label:before {
    box-shadow: inset 0 0 0 4px #fafafa00
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input::placeholder,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea::placeholder,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]:checked+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-likert_scale tbody tr th {
    color: var( --e-global-color-astglobalcolor3)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field.wpforms-field-radio input[type=radio]:checked+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field.wpforms-field-payment-multiple input[type=radio]:checked+label:before {
    background-color: var( --e-global-color-astglobalcolor3)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-required-label {
    color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field textarea,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field-description.wpforms-disclaimer-description {
    border-width: 0 0 2px;
    border-style: solid
}

.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input[type=checkbox]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input[type=radio]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form ul.wpforms-image-choices-modern label,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form ul.wpforms-image-choices-modern label:hover {
    border-width: 2px;
    border-style: solid;
    box-sizing: content-box
}

.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field textarea {
    border-color: var( --e-global-color-astglobalcolor1)
}

.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input[type=checkbox]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field input[type=radio]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-form ul.wpforms-image-choices-modern label:hover {
    border-color: var( --e-global-color-astglobalcolor1)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field select:focus,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea:focus {
    border-color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]:checked+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=radio]:checked+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern .wpforms-selected label {
    border-color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field textarea,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field select,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field input[type=checkbox]+label:before,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description,
.elementor-84 .elementor-element.elementor-element-e20141d.uael-wpf-style-underline .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label {
    border-radius: 0 0 0 0
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form button[type=submit],
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form button[type=submit]:hover,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-page-button,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-page-button:hover {
    color: var( --e-global-color-astglobalcolor0);
    background-color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form button[type=submit],
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-page-button {
    border-style: solid;
    border-width: 2px;
    border-radius: 0 0 0 0
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form button[type=submit]:hover,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-page-button:hover {
    color: var( --e-global-color-astglobalcolor2);
    background-color: #02010100;
    border-color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style label.wpforms-error {
    color: var( --e-global-color-astglobalcolor2)
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field,
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-field-address .wpforms-field-row {
    margin-bottom: 30px
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-container.inline-fields .wpforms-field-container .wpforms-field {
    padding-right: 30px
}

.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form button[type=submit],
.elementor-84 .elementor-element.elementor-element-e20141d .uael-wpf-style .wpforms-form .wpforms-field-pagebreak {
    margin-top: 10px
}

.elementor-84 .elementor-element.elementor-element-e20141d.elementor-widget-uael-wpf-styler .uael-wpf-style .wpforms-container.inline-fields button[type=submit] {
    margin-top: 0
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-84 .elementor-element.elementor-element-3ecc9c8 {
        width: 100%
    }
    .elementor-84 .elementor-element.elementor-element-ebe9e1c {
        width: 100%
    }
}

@media(max-width:1024px) {
    .elementor-84 .elementor-element.elementor-element-096b73b {
        padding: 100px 40px
    }
    .elementor-84 .elementor-element.elementor-element-ea7c6af {
        margin-top: 40px;
        margin-bottom: 0
    }
    .elementor-84 .elementor-element.elementor-element-3ecc9c8>.elementor-element-populated {
        padding: 0
    }
    .elementor-84 .elementor-element.elementor-element-ebe9e1c>.elementor-element-populated {
        margin: 40px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
}

@media(max-width:767px) {
    .elementor-84 .elementor-element.elementor-element-096b73b {
        padding: 100px 20px 80px
    }
    .elementor-84 .elementor-element.elementor-element-ea7c6af {
        margin-top: 40px;
        margin-bottom: 0
    }
    .elementor-84 .elementor-element.elementor-element-d75641d>.elementor-widget-container {
        margin: 0
    }
    .elementor-84 .elementor-element.elementor-element-e20141d.elementor-widget-uael-wpf-styler .uael-wpf-style .wpforms-container.inline-fields button[type=submit] {
        margin-top: 10px
    }
}