.elementor-295 .elementor-element.elementor-element-b872a61>.elementor-element-populated {
    padding: 0
}

.elementor-295 .elementor-element.elementor-element-4745db4 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-astglobalcolor1);
    --divider-border-width: 2px
}

.elementor-295 .elementor-element.elementor-element-4745db4 .elementor-divider-separator {
    width: 100%
}

.elementor-295 .elementor-element.elementor-element-4745db4 .elementor-divider {
    padding-top: 0;
    padding-bottom: 0
}

.elementor-295 .elementor-element.elementor-element-467e0d3 {
    border-style: none;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 30px 0 50px
}

.elementor-295 .elementor-element.elementor-element-467e0d3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-295 .elementor-element.elementor-element-a3bd11e>.elementor-element-populated {
    padding: 0 50px 0 0
}

.elementor-295 .elementor-element.elementor-element-2a0c684>.elementor-element-populated {
    padding: 0 0 0 50px
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 22px;
    --grid-column-gap: 25px;
    --grid-row-gap: 0px
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-widget-container {
    text-align: right
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-social-icon {
    background-color: #02010100;
    --icon-padding: 0em
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-social-icon i {
    color: var( --e-global-color-astglobalcolor1)
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-social-icon svg {
    fill: var( --e-global-color-astglobalcolor1)
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-social-icon:hover i {
    color: var( --e-global-color-astglobalcolor2)
}

.elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-social-icon:hover svg {
    fill: var( --e-global-color-astglobalcolor2)
}

@media(min-width:768px) {
    .elementor-295 .elementor-element.elementor-element-a3bd11e {
        width: 60%
    }
    .elementor-295 .elementor-element.elementor-element-2a0c684 {
        width: 40%
    }
}

@media(max-width:1024px) {
    .elementor-295 .elementor-element.elementor-element-5b9f1c9 {
        padding: 0 40px
    }
    .elementor-295 .elementor-element.elementor-element-467e0d3 {
        padding: 30px 40px 40px
    }
    .elementor-295 .elementor-element.elementor-element-a3bd11e>.elementor-element-populated {
        padding: 0
    }
}

@media(max-width:767px) {
    .elementor-295 .elementor-element.elementor-element-5b9f1c9 {
        padding: 0 20px
    }
    .elementor-295 .elementor-element.elementor-element-467e0d3 {
        padding: 30px 20px 40px
    }
    .elementor-295 .elementor-element.elementor-element-a3bd11e>.elementor-element-populated {
        padding: 0
    }
    .elementor-295 .elementor-element.elementor-element-afbe209 .hfe-copyright-wrapper {
        text-align: center
    }
    .elementor-295 .elementor-element.elementor-element-2a0c684>.elementor-element-populated {
        padding: 20px 0 0
    }
    .elementor-295 .elementor-element.elementor-element-a5bdd44 .elementor-widget-container {
        text-align: center
    }
}